:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --footer-color: rgba(255, 255, 255, 0.6);
    --back-color: #2F303A;
    --back-second-color: #F5F4FA;
    --border-color: #EEEEEE;
    --back-meaning-color: #F5F4FA;
    --portfolio-border: #AFB1B8;

}